.content {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  align-items: center;
  width: 40vw;
  height: 60vh;
  position: relative;
  min-width: 465px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 89%;
  overflow-y: auto;
  scrollbar-color: bisque transparent;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1vh;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
}

.count {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

.delete {
  display: flex;
  background-color: blanchedalmond;
  border: 1px solid grey;
  border-radius: 4vw;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  height: 3%;
  align-items: center;
  justify-content: center;
}

.delete:hover {
  cursor: pointer;
  background-color: rgb(219, 207, 189);
}

@media (max-width: 480px) {
  .content {
    width: 95vw;
  }
  .top-container {
    max-height: 85%;
  }
}
