.todo {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  height: 5vh;
  width: 30vw;
  align-items: center;
  border-radius: 10vw;
}

.todo.checked {
  text-decoration: line-through;
  color: lightslategray;
}

.text {
  font-size: 1.3rem;
  margin-left: 0.5vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  max-width: 80%;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: unset;
}

@media (max-width: 480px) {
  .todo {
    width: 80vw;
  }
}
